.mainContainer{
    width: 100%;
    height: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-image: url("/images/profile_back.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.mainField, .messageContainer, .sendBut, .sendMesPlace, .nothingWrapper, .messsageText{
    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 24px;

    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .2);

    color: white;
}

.headerContainer{
    display: flex;
    justify-content: center;

    font-size: 25.5pt;
    font-weight: 600;

    padding: 3.7rem 5rem 1.8rem 5rem;
}

.mainField{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

    align-self: center;

    width: 50rem;
    height: 38rem;

    padding: 2.1rem;
}

.chatsNames {
    width: 100%;
    text-align: left;
}

.chatsScroller, .messageContainer{
    max-height: 80vh;
    overflow-y: auto; 

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}


.chatsScroller::-webkit-scrollbar, .messageContainer::-webkit-scrollbar {
    width: 6px; 

} 
  
.chatsScroller::-webkit-scrollbar-thumb, .messageContainer::-webkit-scrollbar-thumb {
    background-color: transparent; 
    background-clip: content-box;
    border: 5px solid transparent;

}
  
.chatsScroller::-webkit-scrollbar-track, .messageContainer::-webkit-scrollbar-track {
    background-color: transparent; 
}

.chatName1, .chatName2{
    text-align: center;

    font-size: 18pt;
    font-weight: 600;
}

.chatName1{
    padding-bottom: 1rem;
}

.descContainer{
    display: flex;
    justify-content: center;
}

.messagesField, .nothingWrapper {
    width: 100%;
    text-align: center;

    font-size: 15pt;
}

.messageContainer, .nothingWrapper{
    width: 28rem;
    height: 25rem;

    padding: 2rem;
}

.sendContainer{
    padding-top: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sendMesPlace{
    width: 19rem;

    padding: 0.8rem 2rem;
}

.sendContainer input::placeholder{
    color: white;
}

.sendBut, .messsageText{
    padding: 0.6rem 2rem;

    font-size: 14pt;

    color: black;
    background-color: white;
    box-shadow: none;
}

.messsageText{
    padding: 0.5rem 1rem;
}

.avatar{
    width: 62px;
    height: 62px;
}

.messageBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    padding-bottom: 1rem;
}

.messageBox.sentMessage {
    justify-content: flex-end;
}

.noChats{
    display: flex;
    justify-content: center;

    font-size: 15pt;
}

