@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;500&display=swap');

.navBar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 3rem;
}

.refreshButton {
    font-size: 34.5pt;
    font-weight: 800;

    padding-left: 7rem;
}

.searchContainer,
.notifIconContainer {
    margin-left: auto;
}

.searchBar {
    width: 25.6rem;
    height: 4.6rem;

    background: transparent;
    border: 1px solid white;
    border-radius: 24px;

    font-size: 15pt;

    padding-left: 4.8rem;
}

.searchBar::placeholder {
    color: black;
}

.searchIcon {
    width: 1.5rem;
    height: 1.5rem;

    display: inline-block;
    position: relative;

    right: 23.8rem;
    bottom: 0.15rem;
}

.searchBarContainer,
.notifContainer {
    position: relative;
}

.notifResults, .notifResultComponent {
    right: 0;
}

.searchResults,
.notifResults, .notifResultComponent {
    width: 25.6rem;

    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 24px;

    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .2);
    z-index: 1;

    padding: 1.5rem 1.5rem 0.5rem;
    margin-top: 3rem;
}

.notifResultComponent{
    margin-top: 4.1rem;
}

.resultItem {
    display: flex;
    flex-direction: column;
}

.resultNameAvatarContainer,
.noNotification {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;

    padding-bottom: 1rem;
}

.resultAvatar {
    width: 42px;
    height: 42px;
}

.resultName, .resultNothing,
.noNotification {
    color: white;

    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.resultNothing{
    padding-bottom: 1rem;
}

.notificIcon {
    width: 2rem;
    height: 2.3rem;

    margin: 0 3.3rem 0 3.3rem;

    cursor: pointer;
}

.avatar {
    width: 74px;
    height: 74px;

    border-radius: 100%;

    margin: 0 7rem 0 3.3rem;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 11rem;
    height: 11.5rem;

    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 24px;

    font-size: 18pt;

    color: white;

    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .2);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    margin: 10.5rem 6rem;
}

.profileButton,
.chatButton,
.logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1.3rem;
}

.profileIcon,
.chatIcon,
.logoutIcon {
    width: 1.3rem;
    height: 1.3rem;
}

.avatarGeneral{
    border-radius: 100%;
}

.acceptBut,
.declineBut {
    padding: 0.3rem 1.5rem;
    font-size: 10pt;
    border-radius: 24px;
    margin: 3% 5% 3% 5%;

    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    color: white;
}

.acceptBut {
    box-shadow: inset 0px 0px 400px 110px rgba(4, 236, 58, 0.2);
}

.declineBut {
    box-shadow: inset 0px 0px 400px 110px rgba(251, 1, 1, 0.2);
}

.errorWindow, .errorBut{
    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .2);

    z-index: 1;
}

.errorWindow {
    padding: 1.5rem 2rem;
    
    position: fixed;
    top: 5.2rem; 
    left: 50%;
    transform: translate(-50%, -50%); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 14pt;
}

.errorBut{
    margin-top: 1rem;

    padding: 0.6rem 2rem;

    font-size: 14pt;

    color: black;
    background-color: white;
    box-shadow: none;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}